<!--Changepassword Page For Principle-->

{% extends 'header.html' %}
{% block content %}
{% load static %}

<section class="form-container">
   {% if messages %}
   {% for message in messages %}
      <script>
      alert("{{message}}");
      </script>                  
   {% endfor %}
   {% endif %}
   <form action="{% url 'changepassword' %}" method="post">
      {% csrf_token %}
      <h3>Change Password</h3>
      <p>Current Password</p>
      <input type="password" name="cpassword" maxlength="50" class="box" placeholder="Enter Current Password">
      <p>New Password</p>
      <input type="password" name="npassword" maxlength="50" class="box" placeholder="Enter New Password">
      <p>confirm New Password</p>
      <input type="password" name="cnewpassword" maxlength="50" class="box" placeholder="Enter New Password">
      <input type="submit" value="Submit" name="submit" class="btn">
   </form>

</section>
{% endblock %}