<!--Student detail Page for perticular-->

{% extends 'studentheader.html' %}
{% block content %}
{% load static %}
<section class="playlist-details">
    <center><h1 class="heading">Your Details</h1></center>
    <div class="row">
        <table border="1">
                <tr>
                    <th><h3 class="text-center" style="margin-right:20px;">Roll No.</h3></th>
                    <th><h3 class="text-center" style="margin-right:20px;">Your Name</h3></th>
                    <th><h3 class="text-center" style="margin-right:20px; padding-left:20px;">Birth Date</h3></th>
                    <th><h3 class="text-center" style="margin-right:20px;">Date Of Joining</h3></th>
                    <th><h3 class="text-center" style="margin-right:20px; padding-left:20px;">Fees</h3></th>
                    <th><h3 class="text-center" style="margin-right:20px; padding-left:20px;">Address</h3></th>
                    <th><h3 class="text-center" style="margin-right:20px; padding-left:20px;">Picture</h3></th>
                </tr>
            <body>
               
                <br><tr>
                    <td class="text-center" style="padding-top:20px;"><h3>{{ sid.roll_no }}</h3></td>
                    <td class="text-center" style="padding-top:20px;"><h3>{{ sid.firstname }} {{ sid.lastname }}</h3></td>
                    <td class="text-center" style="padding-top:20px;"><h3>{{ sid.birth_date }}</h3></td>
                    <td class="text-center" style="padding-top:20px;padding-left:20px;"><h3>{{ sid.date_of_joining }}</h3></td>
                    <td class="text-center" style="padding-top:20px;padding-left:20px;"><h3>{{ sid.fees }}</h3></td>                
                    <td class="text-center" style="padding-top:20px;padding-left:20px;"><h3>{{ sid.address }}</h3></td>
                    <td class="text-center" style="padding-top:20px;padding-left:20px;"><img src="/media/{{ sid.picture }}" height="130px" width="150px"></td>
                </tr>
                
            </body>
        </table>
    </div>
 </section>
{% endblock %}