<!--Teacher Profile Page-->

{% extends 'teacherheader.html' %}
{% block content %}
{% load static %}

<section class="form-container">
   {% if messages %}
   {% for message in messages %}
      <script>
      alert("{{message}}");
      </script>                  
   {% endfor %}
   {% endif %}
   <form action="{% url 'tprofile' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Update Profile</h3>
      <p>Email</p>
      <input type="email" name="email" maxlength="50" class="box" value="{{user.email}}" disabled>
      <p>First Name</p>
      <input type="text" name="fname" maxlength="50" class="box" value="{{tid.firstname}}">
      <p>Last Name</p>
      <input type="text" name="lname" maxlength="50" class="box" value="{{tid.lastname}}">
      <p>Mobile No</p>
      <input type="number" name="mobile" maxlength="50" class="box" value="{{tid.mobile}}">
      <p>Address</p>
      <textarea type="text" name="add" maxlength="50" class="box" value="">{{tid.address}}</textarea>
      <p>Profile Picture</p>
      <input type="file" name="picture" maxlength="50" class="box">
      <input type="submit" value="Update Profile" name="submit" class="btn">
   </form>

</section>
{% endblock %}